@charset "UTF-8";
/* CSS Document */

/* content style */
/* body css */
.black-body {background:#000; text-align: center; min-height: 900px;}
/* main content */
#page {background: #000; margin: 0 auto; width: 100%;}

/* header */
#header {
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* header logo */
#header-logo {
    text-align: left;
    border-bottom: solid #aaa 1px;
    padding:0 0 0 0.5em;
}
#header-img {
    width: 50%;
}

/* header menu */
#header-menu {
    font-size: 14px;
    border-bottom: solid #aaa 1px;
    padding:0.5em 0 0.6em 0;
}
.menu-list {display: inline;}
.menu-item {display: inline; padding: 0 10px 0 10px;}
.menu-link {color:#ddd; font-size: 100%}
.menu-link-now {color:#ed5d04;}
a.menu-link:hover, a.menu-link:visited a.menu-link:active, a.menu-link-now:hover {
    text-decoration: none;
    color:#ed5d04;
    cursor:pointer;
}

/* content */
#content {position: relative;}
.image-item {position: relative; width: 100%; margin: 25px 0;}
.image-region {margin: 0; /* border: solid #111 2px;*/}
.image-link {width: 100%}
.image-text {
    width: 100%;
    text-align: left;
    padding: 0.5em 0;
    background-color: #555;
    background-color: rgba(0,0,0,0.5);/* IE9、标准浏览器、IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂 */
    position: absolute;
    bottom: -1px;
    text-indent: 1em;
}
.image-text p {font-size: 16px; font-weight: bold; color: #bbb;}

#about-content {text-align: left; padding: 10px 0; color: #eee; position: relative;}
.me-image {width: 100%; position: relative; top: -10px;}
.self-introduction {padding: 0 10px;}
.name {font: bold 16px "微软雅黑"; border-bottom: solid #aaa 1px; padding: 6px 0 10px 0;}
.introduction {color: #eee; font: 12px "微软雅黑"; padding: 10px 0;}
.equipment {padding: 10px 10px 20px 10px;}
.eq-name {color: #eee; font: bold 14px "微软雅黑"; padding: 6px 0 10px 0;}
.eq-detail {color: #eee; font: 12px "微软雅黑"; padding: 0 0 0 2em;}

/* footer */
#footer {border-top: solid #aaa 1px; background: #000; padding: 1em 0 1em 0; color:#ccc; font-size:12px;}
